/* Bold */

@font-face {
    font-family: 'TTNorms-Bold';
    src: url('../fonts/TTNorms-Bold.ttf');
}

/* Medium */

@font-face {
    font-family: 'TTNorms-Medium';
    src: url('../fonts/TTNorms-Medium.ttf');
}

/* Regular */

@font-face {
    font-family: 'TTNorms-Regular';
    src: url('../fonts/TTNorms-Regular.ttf');
}